@import '../../vendor/schulit/common-bundle/assets/css/bootstrap.scss';

// Import Bootstrap
@import '../../node_modules/bootstrap/scss/bootstrap';

// Import (and override) variables
@import '../../vendor/schulit/common-bundle/assets/css/variables.scss';

// Import FontAwesome
@import '../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome';
@import '../../node_modules/@fortawesome/fontawesome-free/scss/solid';
@import '../../node_modules/@fortawesome/fontawesome-free/scss/regular';
@import '../../node_modules/@fortawesome/fontawesome-free/scss/brands';

// Import SchulIT design
@import '../../vendor/schulit/common-bundle/assets/css/layout.scss';
@import '../../vendor/schulit/common-bundle/assets/css/callouts.scss';
@import '../../vendor/schulit/common-bundle/assets/css/div-tables.scss';
@import '../../vendor/schulit/common-bundle/assets/css/swagger.scss';

.sticky-sidebar {
  position: -webkit-sticky;
  position: sticky;
  align-self: flex-start;
  top: 1rem;
}