@import '../../vendor/schulit/common-bundle/Resources/assets/css/variables.scss';

// Import SCSS from custom
@import "custom/*.scss";

// Import Bootstrap
@import '../../node_modules/bootstrap/scss/bootstrap';

// Import FontAwesome
@import '../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome';
@import '../../node_modules/@fortawesome/fontawesome-free/scss/solid';
@import '../../node_modules/@fortawesome/fontawesome-free/scss/regular';
@import '../../node_modules/@fortawesome/fontawesome-free/scss/brands';

// Import SchulIT design
@import '../../vendor/schulit/common-bundle/Resources/assets/css/layout.scss';
@import '../../vendor/schulit/common-bundle/Resources/assets/css/additions.scss';
@import '../../vendor/schulit/common-bundle/Resources/assets/css/div-tables.scss';
@import '../../vendor/schulit/common-bundle/Resources/assets/css/swagger.scss';
@import '../../node_modules/bootstrap-darkmode/darktheme';
@import '../../vendor/schulit/common-bundle/Resources/assets/css/dark/variables.scss';
@import '../../vendor/schulit/common-bundle/Resources/assets/css/dark/layout';

// Import Bootstrap 4 Card Tables
@import '../../node_modules/bootstrap4-card-tables/src/bootstrap4-card-tables';
@import '../../vendor/schulit/common-bundle/Resources/assets/css/nested-card-tables.scss';

// Import SCSS from overrides
@import "overrides/*.scss";

.sticky-sidebar {
  position: -webkit-sticky;
  position: sticky;
  align-self: flex-start;
  top: 1rem;
}